@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@model Form //This is the model that I want to use


@* Create the confirmation page for when the user submits a movie *@
<h2>Movie Submission Received. Your movie, @Model.Title has officially been recorded</h2>





