@*
    For confirming the deletion of a record
*@
@{
}
}
@model Movies

<h2> Confirm Deletion</h2>

<h3>@Model.Title</h3>

@* Create the buttons to either cancel the delete or to delete the record *@
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
</form>