
@{
}
@*Get to know Joel page with links to buy tickets and visit the Bacon Sale website  *@


<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <p>
        <a href="https://www.qwcomedy.com/" target="_blank">
            Learn about Joel through his epic Quick Wits Comedy shows!!
        </a>
    </p>

    <p>
        <a href="https://baconsale.com/" target="_blank">
            Buy a ticket from Bacon Sale Here!!
        </a>
    </p>


    @* Create a link to the website that also links with this image *@
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" />
    </a>


</div>





