@{
    ViewData["Title"] = "Home Page";
}

@* Home Page with picture of Joel and a mini introduction *@

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>This is the man, the myth, and the legend himself: </p>

	<img src="~/img/joelhiltonheadshot.jpg" />
</div>
